/* Home */
.home-container {
  padding: 2rem 4rem;
  margin-top: 100px; /* Increase the margin to push content further down */
}


.home-container h2 {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}
body {
  padding-top: 100px; /* Adds padding at the top to ensure nothing overlaps the header */
}


/* Products Styling */
.products {
  display: grid; /* Use grid layout */
  grid-template-columns: repeat(2, 1fr); /* Two products per row */
  grid-gap: 2rem; /* Space between products */
  justify-content: center; /* Center the grid items */
  margin-top: 2rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 15px;
  width: 100%; /* Full width in grid item */
  height: 400px;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5),
    2px 2px 5px rgba(94, 104, 121, 0.3);
  transition: transform 0.3s;
}

.product:hover {
  transform: translateY(-5px); /* Slight hover effect */
}

.product h3 {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 1rem;
}

.product img {
  width: 80%;
  margin: 0 auto 1rem auto; /* Center the image */
}

.product .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product .details .price {
  font-size: 20px;
  font-weight: 700;
}

.product button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin-top: 1rem;
  font-weight: 400;
  letter-spacing: 1.15px;
  background-color: #4b70e2;
  color: #f9f9f9;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product button:hover {
  background-color: #3a59b8;
}

/* Responsive styling */
@media (max-width: 768px) {
  .products {
    grid-template-columns: 1fr; /* One product per row on smaller screens */
  }
}
